@import "fonts"
$text-color: #232323

*
  color: $text-color

h1, h2, h3, h4, h5, h6
  font-family: "Oranienbaum", "Open Sans", sans-serif
  font-weight: normal

p, a, span, i, input, li
  font-family: "Open Sans", "Oranienbaum", sans-serif
  font-weight: normal

p, span, i, a
  font-weight: normal
  font-size: 18px

.header-1
  font-size: 64px

.header-2
  font-size: 54px

.header-3
  font-size: 42px

.header-4
  font-size: 38px
    
.text--bold
  font-size: 20px
  font-weight: bold

.text--center
  text-align: center
