-
  let benefitList = [
    'консультация',
    'заказ штор',
    'заказ покрывал',
    'заказ чехлов на стулья',
    'заказ «мягкие сиденья»',
    'заказ подушек декоративных',
    'декоративные карнизы',
    'рулонные шторы',
    'жалюзи и другие аксессуары <br/> для ваших окон',
  ]

section#benefit.section.benefit
  div.template-wrapper
    div.section-header.benefit__header
      h3.section-header__title.header-3 Чем я могу быть Вам полезна:
    div.section-content
      div.section-content__data.benefit__data
        ul.section-list.section-list--marked.benefit__list
          each item in benefitList
            li.section-list__item !{item}
        button.button.benefit__button Отправить заявку
      div.section-content__data.section-content__data--picture.benefit__picture
        img(src="./img/benefit.png").section-content__img