section#company.section.company
  div.section-content
    div.template-wrapper.section-content.company-wrapper
      div.section-content__data.company-content__data
        h4.header-4 Татьяна Матвиенко
        h1.header-1 Дизайнер-декоратор
        p.company__text Разработка дизайна штор на заказ <br/> в стиле арт-нуво
        button.button.request-popup__open-btn Отправить заявку
      div.section-content__data.section-content__data--picture.company-content__data.company-content__data--picture
        img(src="./img/company.png").section-content__img
  span.section__pattern.company__pattern
    img(src='./img/patterns/flourish-2.svg').section__flourish