-
  let contactsList = [
    {title: '+7 (3842) 44-22-20', icon: 'phone.png' },
    {title: 'kvc@kvc42.ru', icon: 'mail.png' },
    {title: '650000, г. Кемерово, ул. Сарыгина, 29 холл 1 этажа', icon: 'home.png' },
  ]

section#contacts.section.contacts
  div.template-wrapper
    div.section-header.contacts__header
      h2.section-header__title.header-2.contacts__title Контакты
    div.contacts__content
      ul.contacts__list.contacts-list
        each item in contactsList
          li.contacts-list__item
            img(src="./img/icons/"+item.icon).contacts-list__icon
            p.contacts-list__title=item.title
      form.contacts__form.form
        div.form-success.form-success--hidden
          p.form-success__message Ваша заявка успешно отправлена
          button(type="button").form-success__btn ОК
        p.form__title Пора осуществлять мечты
        div.form__content
          div.form__line
            input(type="text" name="name" placeholder="Имя" required).input
            input(type="text" name="phone" placeholder="Телефон" required).input
          input(type="text" name="mail" placeholder="Почта").input
          textarea(placeholder="Комментарий к заявке" name="comment" rows="1").input.textarea
        div.form__actions.contacts__action
          button(type="submit").button Отправить заявку