section#map.section.map
  div.template-wrapper
    //iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3A64489a5924a13ede716287331502ded18b920a29e6d53e6e968daebc6078a1cb&amp;source=constructor" width="100%" height="594" frameborder="0")
    a(class="dg-widget-link" href="http://2gis.ru/kemerovo/firm/704215722843190/center/86.07333183288574,55.34083645109404/zoom/16?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=bigMap") Посмотреть на карте Кемерова
    div.dg-widget-link
      a(href="http://2gis.ru/kemerovo/firm/704215722843190/photos/704215722843190/center/86.07333183288574,55.34083645109404/zoom/17?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=photos") Фотографии компании
    div.dg-widget-link
      a(href="http://2gis.ru/kemerovo/center/86.073436,55.34019/zoom/16/routeTab/rsType/bus/to/86.073436,55.34019╎КВЦ?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=route") Найти проезд до КВЦ
    script(type="application/javascript" charset="utf-8" src="https://widgets.2gis.com/js/DGWidgetLoader.js")
    script(type="application/javascript" charset="utf-8").
      new DGWidgetLoader({"width":1020,"height":594,"borderColor":"#a3a3a3","pos":{"lat":55.34083645109404,"lon":86.07333183288574,"zoom":16},"opt":{"city":"kemerovo"},"org":[{"id":"704215722843190"}]});
    noscript(style="color:#c00;font-size:16px;font-weight:bold;") Виджет карты использует JavaScript. Включите его в настройках вашего браузера.