extends layouts/main

block variables
    -
        var title = "Starter"
        let benefitList = [
            'консультация',
            'заказ штор',
            'заказ покрывал',
            'заказ чехлов на стулья',
            'заказ «мягкие сиденья»',
            'заказ подушек декоративных',
            'декоративные карнизы',
            'рулонные шторы',
            'жалюзи и другие аксессуары <br/> для ваших окон',
        ]

block content
  include components/company
  include components/about
  include components/benefit
  include components/works